.Dice{
    width: 50%;
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2em;

    img{
        width: 64px;
        height: 64px;

        cursor: pointer;
    }
  }